$primaryColor: #232323;
$hoveredPrimaryColor: #232323;
$focusedPrimaryColor: #343434;

$disabledBackgroundColor: #343434;

$primaryColorBlue: #000096;
$hoveredPrimaryColorBlue: #00006b;
$focusedPrimaryColorBlue: #2626a6;

$disabledBorderColor: #8a8ab2;
$failedBorderColor: #d32f18;
$successBorderColor: #008f00;
$hoveredBorderColor: #666666;
$focusedBorderColor: #304ffe;
$activeBorderColor: #000;

$textColor: #111;
$textColor2: #1d1d26;
$textColor3: #212529;
$textColor4: #0f0f0f;
$textColor5: #252c32;
$secondaryTextColor: #adadad;
$secondaryTextColor2: #666666;
$secondaryTextColor3: #888;
$secondaryTextColor4: #1d1d26;
$secondaryTextColor5: rgba(37, 44, 50, 0.8);
$secondaryTextColor6: rgba(17, 17, 17, 0.7);
$successColor: #009900;
$errorColor: #e10000;

$grayColor: #EBEBEB;
$grayColor2: #c3c3c3;
$grayColor3: #f4f4f4;
$grayColor4: #fafafa;
$grayColor5: #e6e6e6;
$grayColor6: #c2c2c2;
$greenColor1: #9bff00;
$borderGrayColor: #dedede;
$radioDefaultBorderColor: #b6b6b6;
$radioCheckedBorderColor: #878787;

$warningBackgroundColor: #ffedd6;
$successBackgroundColor: #d9fdbe;

$startGradientColor: #3fc2f6;
$endGradientColor: #9aff00;

$linkColor: #002bbc;
$focusedBtnShadow: #304ffe;

// Modal WindowColors
$modalTitleColor: #1d1d26;
$modalOverlayColor: rgba(216, 216, 216, 0.5);
$modalBackgroundColor: #fff;
$modalBorderColor: #d3d3d3;
$shadowColor: rgba(35, 35, 35, 0.26);

$black1: #090909;
