.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
   padding-right: 0px;
}
.ant-select-arrow{
   position: absolute;
   left: 15px;
}
