$defaultBorderRadius: 0.31rem;
$contentLgXPadding: 3.75rem;
$contentMdXPadding: 1.25rem;
$headerLgYPadding: 2.5rem;
$contentLgYPadding: 2.5rem;
$contentMdYPadding: 2.68rem;
$contentMaxWidth: 90.62rem;
