.backButton {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.77;
  letter-spacing: 0.2px;
  color: rgba(17, 17, 17, 0.7);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 24px;
}